* {
  margin: 0;
  text-align: center;
}

.header {
  background-color: black;
  margin: 0 10 10 0;

  h1 {
    padding: 13px 13px;

  }
}


header { 
 margin-top: 0;
 text-align: center;
 color: white;
}